body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #111;
  color: white;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  text-align: center;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#createRoom {
  background: #4caf50;
  color: white;
}

#joinRoom {
  background: #2196f3;
  color: white;
}

.privacy {
  font-size: 14px;
  opacity: 0.7;
}
#lobby input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #555;
}

#avatarsContainer img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 5px;
  object-fit: cover;
  border: 2px solid #fff;
}

